.container-fluid {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.container-fluid::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body .accordion {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
body .accordion .accordion-button[aria-expanded=false] {
  display: none;
}
body .accordion .accordion-button:not(.collapsed)::after {
  visibility: hidden;
}
body .accordion .accordion-button:after {
  visibility: hidden;
}
body .accordion .accordion-body {
  background-color: white;
  position: relative;
  transform-origin: top;
}
body .container-fluid {
  padding: 18px;
  padding-inline: 40px;
}
body .container-fluid > .row {
  position: relative;
}
body .container-fluid > .row div {
  position: absolute;
}
body .container-fluid .search-bar {
  position: absolute;
  top: 75px;
  left: calc((100% - 297px) / 2);
  display: flex;
  width: 297px;
  height: 55px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
body .container-fluid .search-bar input {
  border-block: none;
  border-inline: 1px solid #f0f0f0;
}
body .container-fluid .search-bar input:first-child {
  border: none;
}
body .container-fluid .search-bar i {
  display: grid;
}
body .container-fluid .search-bar span {
  width: 93px;
  height: 15px;
  left: 11px;
  top: 18px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
body .container-fluid .search-bar.modified {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  top: 32px;
  width: calc(100% - 20px);
  left: 10px;
  box-shadow: none;
}
body .container-fluid .search-bar.modified input {
  width: calc(100% - 10px);
  height: 57px;
  border-radius: 0 0 16px 16px !important;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}
body .container-fluid .search-bar.modified input:first-child {
  border-radius: 16px 16px 0 0 !important;
}
body .container-fluid .search-bar.modified i {
  width: 126px;
  height: 48px;
  display: flex;
  background: rgba(235, 87, 87, 0.9);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  justify-self: end;
}
body .container-fluid .logo {
  width: 90px;
  position: absolute;
  top: 22px;
}

.section-two {
  position: relative;
  top: 162px;
}
.section-two .stays-found {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section-two .gallary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-top: 24px;
}
.section-two .gallary .card {
  flex-basis: 394px;
  margin-top: 17px;
  margin-bottom: 32px;
  border: none;
}
.section-two .gallary .card img {
  min-width: 350px;
  max-width: 394px;
  min-height: 238.35px;
  max-height: 269px;
  border-radius: 24px;
}
.section-two .gallary .card .card-discreption {
  display: flex;
  max-width: 394px;
  justify-content: space-between;
  margin-top: 19.5px;
}
.section-two .gallary .card .card-discreption [superHost=true] {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  width: 100px;
  height: 28px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  display: grid;
  place-content: center;
}
.section-two .gallary .card .card-discreption [superHost=true] span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}
.section-two .gallary .card .card-discreption [superHost=false] {
  display: none;
}
.section-two .gallary .card .card-title {
  margin-top: 17px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

@media (min-width: 576px) {
  .container-fluid .input-group.search-bar:not(.modified) {
    top: 32px;
    left: calc(100% - 297px);
  }
}/*# sourceMappingURL=windbnb-master.css.map */